
main
{ flex-direction: column; }

main #s1 {
    padding:          30px 0 0 0;
    justify-content:  center;
    gap:              8px;
    flex-wrap:        wrap;
}

main #s1 #all {
    background-color: var(--defaultBlack);
    color:            var(--defaultWhite);
}

main #s1 p {
    padding:          4px 6px;
    font-size:        22px;
    font-weight:      400;
    border:           1px solid var(--defaultWhite);
}

main #s2 {
    padding:          30px;
    flex-wrap:        wrap;
    justify-content:  center;
    gap:              15px;
}

.card {
    padding:          0 0 5px 0;
    width:            100%;
    max-width:        400px;
    height:           auto;
    border-radius:    8px;
    overflow:         hidden;
}

.card img {
    width:            100%;
    max-width:        100%;
    height:           auto;
    vertical-align:   middle;
}

.card h2 {
    padding:          4px;
    text-align:       center;
}

.card .dates {
    display:          flex;
    justify-content:  center;
}

.card .dates p {
    margin: 0 5px;
}

.white {
    border:           3px solid var(--defaultWhite);
    columns:          var(--defaultBlack);
    background-color: var(--defaultWhite);
}

.black {
    border:           3px solid var(--defaultBlack);
    color:            var(--defaultWhite);
    background-color: var(--defaultBlack);
}
