<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Chess</title>
        <link rel="stylesheet" href="~/css/Global/global.css"/>
    </head>
    <body>
        <header>
            <a href="/">Chess</a>
        </header>
        
        <main>
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2024 - Chess</p>
        </footer>
        
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
